<br> 
<div class="signup">
    <div class="container">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div>
                <h2>See new posts directly in your inbox</h2> 
            </div>
            <div style="margin: auto;">
                <div id="custom-substack-embed" style="margin: auto;">
                </div>
                    <script>
                          window.CustomSubstackWidget = {
                            substackUrl: "rebeccaplatt.substack.com",
                            theme: "custom",
                            colors: {
                              primary: "#663399",
                              input: "#212529",
                              email: "#FFFFFF",
                              text: "#FFFFFF",
                            }
                          };
                    </script>
                    <script src="https://substackapi.com/widget.js" async></script>
                </div>
                <div class="row" style="margin: auto; padding-top: 10px; ">
                    <h6 style="color: #e8e8e8">(Powered by Substack)</h6>
                </div>
            </div>
        </div>  
    </div>
</div>

